.coin__search{
    display: block;
    margin: 0 auto;
    width: 400px;
    margin-bottom: 64px;
    display: block;
    align-items: center;

}

.coin__input{
    text-align: center;
    background: #222531;
    border: thick double #0296d1;
    padding: 16px;
    border-radius: 4px;
    outline: none;
    height: 100%;
    width: 100%;
}

.coin__input::placeholder{
    color: #e2e2e2
}

