.coin__search{
    margin-bottom: 64px;
    margin-left: 710px;
    display: flex;
    align-items: center;
    width: 300px;

}

.coin__input{
    background: #222531;
    border: thick double #32a1ce;
    padding: 16px;
    border-radius: 4px;
    outline: none;
    height: 100%;
    width: 100%;
}

.coin__input::placeholder{
    color: #e2e2e2
}